@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>

    <link href="~/Content/CSS/Iconos.css" rel="stylesheet" />

</head>
<body>
    <main>
        @*------------------------------**@

        @*------------------------------**@
        <div class="contenedor">
            <div class="columna">
                <button class="boton">
                    <img src="~/Img/Iconos/servidor.png" style="left:150px; width:150px " />
                    <ul>
                        @Html.ActionLink("Servidores", "ListadoServidor", "Servidor", new { area = "" }, new { @class = "nav-link dropdown-item" })
                    </ul>
                </button>
                <div class="itemseparator"></div>
                <button class="boton">
                    <img src="~/Img/Iconos/ordenador-personal.png" style="left: 150px; width:150px " />
                    <ul>
                        @Html.ActionLink("KDS", "BuscarKDS", "KDS", new { area = "" }, new { @class = "nav-link dropdown-item" })
                    </ul>
                </button>
            </div>
            <div class="columna">
                <button class="boton">
                    <img src="~/Img/Iconos/punto-de-venta.png" style="left: 150px; width:150px " />
                    <ul>
                        @Html.ActionLink("Workstation", "ListadoWorkStation", "WorkStation", new { area = "" }, new { @class = "nav-link dropdown-item" })
                    </ul>
                </button>
                <div class="itemseparator" BuscarKDS></div>
                <button class="boton">
                    <img src="~/Img/Iconos/PC_Gerencial.png" style="left: 150px; width:150px " />
                    <ul>
                        @Html.ActionLink("PCGerenciales", "ListadoPCGerencial", "PCGerencial", new { area = "" }, new { @class = "nav-link dropdown-item" })
                    </ul>
                </button>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>
</html>